.card {
    width: 100%;
    display: flex;
    gap: 30px;
}

.card {
    display: flex;
    justify-content: center;
}

.card1 {
    padding: 244px 0 255px 0;
    background: linear-gradient(90deg, #1A1E8E 0%, #1A1E6C 100%);
}

.card2 {
    display: flex;
    gap: 222px;
    padding: 253px 0 279px 0;
    background: #F7F7F7;
    align-items: center;
}

.card3 {
    display: flex;
    gap: 118px;
    padding: 269px 0;
}

.card4 {
    display: flex;
    align-items: center;
    gap: 186px;
    padding: 164px 0;
    background: linear-gradient(90deg, #3B44E6 0.01%, #396AE0 100%);
}