.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12.5vh;
    padding: 44px 0 51px 0;
    background: #F7F7F7;
}

.mainFooter {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
}

.producer {
    display: flex;
    gap: 20px;
    margin: 0 354px 0 51px;
}

.producer span:first-child {
    color: #727272;
    font-size: 17px;
    font-weight: 500;
}

.ul {
    display: flex;
    gap: 44px;
}

.ul>li a,
.member {
    color: #6F6F6F;
    font-size: 15px;
    font-weight: 400;
}