.allContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar {
    width: 1070px;
    padding: 38px 0;
    display: flex;
    gap: 532px;
    justify-content: center;
}

.ul {
    display: flex;
    gap: 60px;
}

.ul>li {
    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 500;
}

.ul>li a:hover,
.active a {
    color: #3B44E6;
}