.allContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar {
    width: 100%;

    padding: 38px 0;
    display: flex;
    justify-content: center;
}

.logoImg {
    width: 115px;
    height: 40px;
    margin-right: 486px;
}

.ul {
    display: flex;
    gap: 60px;
}

.ul>li {
    color: #000;
    font-family: Pretendard;
    font-size: 20px;
    font-weight: 500;
}

.ul>li a:hover,
.active a {
    color: #3B44E6;
}