

.savedPostAllContainer {
    padding-top: 59px;
    background-color: #F7F7F7;
    height: 100%;
    position: relative;
    left: 425px;
    width: 1070px;
}

.savedContainer {
    margin: auto;

}

.container {
    width: 1070px;
    margin: auto;
}

.saveText {
    color: #000;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 53px;
}

.categoryContainer {
    display: flex;
    gap: 11px;
}

.tipContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1070px;
    gap: 16px;
}

.infoCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1070px;
    gap: 16px;
}

.noneDataFieldContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1070px;
    height: 55vh;
}

.noneMsg {
    color: #A0A0A0;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
}