

.board {
    width: 1070px;
    height: 1611px;
    border-radius: 22px;
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    padding: 46px 0px 24px 90px;
}

.header > h2 {
    font-size: 35px;
}

.line {
    border-radius: 50px;
    margin-left: 91px;
    background-color: #E8E8E8;
    height: 2;
    width: 888px;   
}

.content {
    width: 889px;
    height: 595px;
    margin: 34px 0px 55px 90px;
    font-size: 25px;
}

.comment {
    padding: 28px 0px 27px 90px;
}