.tag {
    width: 61px;
    height: 36px;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 25px;
    margin-right: 26px;
}