.allContainer {
    background: #F7F7F7;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoryContainer {
    display: flex;
    align-items: center;
}

.categoryList {
    display: flex;
    gap: 11px;
}

.addWordsBtn {
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.infoCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 1070px;
}

.TipInfoCardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1070px;
}

.searchHeaderContainer,
.categoryContainer {
    width: 1070px;
    padding-right: 10px;
}

.categoryContainer {
    display: flex;
    justify-content: space-between;
    margin: 90px 0 49px 0;
}

.searchHeaderContainer {
    display: flex;
    align-items: center;
    gap: 224px;
}

.noneDataFieldContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1070px;
    height: 55vh;
}

.noneMsg {
    color: #A0A0A0;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
}